[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=dev-cart.pearlwebsolutions.in:8080
Environment=DB_HOST=dev-mysql.pearlwebsolutions.in
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
